# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.Python
venv/
.venv/
env/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Flask specific
instance/
*.log
*.env
*.flaskenv
config.py

# React
node_modules/
*.log
build/
dist/
.env
.DS_Store

# Editor and System Files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
Thumbs.db
desktop.ini

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db